services:
  - type: web
    name: shift-manager-web
    env: python
    region: oregon
    buildCommand: "chmod +x shift_manager/build.sh && ./shift_manager/build.sh"
    startCommand: "cd shift_manager && gunicorn shift_manager.wsgi:application --bind 0.0.0.0:$PORT"
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: "True"
      - key: ALLOWED_HOSTS
        value: "shift-sonar.onrender.com"
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: "5432"
      - key: REDIS_URL
        sync: false
      - key: TELEGRAM_BOT_TOKEN
        sync: false

